<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".VynnraApplication"
        android:allowBackup="true"
        android:label="Vynnra Agent"
        android:supportsRtl="true"
        android:theme="@style/Theme.VynnraAgent">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".platform.VynnraBrowserActivity"
            android:exported="false"
            android:label="Vynnra Browser" />
        <service
            android:name=".platform.VynnraAccessibilityService"
            android:exported="false"
            android:label="Vynnra Agent Accessibility"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/vynnra_accessibility_service" />
        </service>
        <service
            android:name=".platform.VynnraScreenCaptureService"
            android:exported="false"
            android:label="Vynnra Agent Screen Capture"
            android:foregroundServiceType="mediaProjection" />
    </application>
</manifest>
